
#box-1{
	background: #1abc9c;
}

h1{
	color: #f1c40f;
	font-size: 50px;
	text-align: center;
	background-color: #000;
}

#article-1{
	font-size: 20px;
	font-style: italic;
	background: pink;
}

a{
	text-decoration: line-through;
	color: #c0392b;
	font-size: 18px;
	text-align: center;
	display: block;
}

#article-2{
	background: #2c3e50;
	color: #fff;
}

#box-2{
	background: #27ae60;
	width: 80%;
}
span{
	color: red;
}